<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Creation</title>
</head>
<body>
<form action="saveEmployees" method ="post">
  <label for="name">Employee name:</label><br>
  <input type="text" id=name name="name" ><br>
  <label for=department>Department:</label><br>
  <input type="text" id="department" name="department"><br><br>
  <label for=email>Email:</label><br>
  <input type="text" id="email" name="email"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>